.messages {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.message {
  width: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
}

.text {
  padding: 10px;
  border-radius: 12px;
  font-size: 15px;
  color: #fff;
}

.user {
  font-size: 14px;
  color: rgb(176, 176, 176);
}

.user {
  align-items: flex-start;
}

.user .text {
  background: #514c4c;
  margin-top: -15px;
}

.user .user {
  padding-left: 10px;
}

.me {
  align-items: flex-end;
}

.me .text {
  background: #0d49d7;
}

.me .user {
  padding-right: 10px;
}

.del {
  cursor: pointer;
  margin-top: -15px;
  margin-left: 10px;
  padding-bottom: 2px;
  border-bottom: 1px solid rgb(176, 176, 176);
}

.me .del {
  cursor: pointer;
  margin-top: -15px;
  margin-left: 10px;
  padding-bottom: 2px;
  border-bottom: 1px solid rgb(176, 176, 176);
}
